/* VARIABLES */

:root
{
    --nav: rgba(25, 23, 26, 0.8);
    --bg: #252226;
    --bg-footer: rgba(37, 34, 38, 0.5);
    --black: #19171a;

    --text: #D9D9D9;
    --text-footer: #7e7e7f;
    --highlight: #F08681;
    --white: #fff3ff;
    --selection: rgba(217, 217, 217, 0.1);

    --transition-speed: 0.5s;
}

/* FONTS */

@font-face
{
    font-family: "Neucha";
    src: url("../fonts/Neucha/Neucha-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Open Sans Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face
{
    font-family: "Open Sans Italic";
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
}

/* GENERAL */

*
{
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

ul
{
    list-style: none;
}

body
{
    background-image: url("../medias/bg.png");
    background-attachment: fixed;
    background-color: var(--bg);
    font-size: 110%;
    font-family: "Open Sans";
    color: var(--text);
}

::selection
{
    background-color: var(--selection);
}

/* NAVIGATION */

nav
{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 5% 0.5% 5%;
    background-color: var(--nav);
    text-transform: uppercase;
}

nav .links
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    font-family: "Neucha", sans-serif;
}

nav li
{
    cursor: pointer;
}

nav .dropdown
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

nav .dropdown ul
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition-speed) ease;
    margin-top: 15%;
    padding: 10% 10%;
    background: var(--nav);
}

nav .dropdown li
{
    position: relative;
    margin: 10% 0;
}

nav .dropdown li::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all var(--transition-speed) ease;
    border-bottom: 1px solid var(--highlight);
    width: 0;
}

nav .dropdown:hover ul
{
    visibility: visible;
    opacity: 100%;
}

nav .dropdown li:hover::after
{
    width: 100%;
}

/* SECTION */

section
{
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 0 25%;
}

aside
{
    flex: 200%;
    max-width: 200%;
    padding: 0 2%;
}

article
{
    background-color: var(--black);
    padding: 4%;
}

aside img,
aside iframe
{
    vertical-align: middle;
    width: 100%;
    padding: 4% 0;
}

/* FOOTER */

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-top: 1px solid var(--text-footer);
    background-color: var(--bg-footer);
    padding: 1% 1%;
    font-size: 110%;
    font-family: "Neucha", sans-serif;
    color: var(--text-footer);
}

footer ul
{
    display: flex;
    justify-content: center;
    width: 30%;
}

footer li
{
    margin: 0 5%;
    cursor: pointer;
}

footer .copy
{
    margin: 0 1%;
    border-left: 1px dashed var(--text-footer);
    border-right: 1px dashed var(--text-footer);
    padding: 0 1%;
}

/* POPUP */

.popup-container
{
    position: relative;
}

.popup
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 160px;
    background-color: var(--bg);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    transition: all var(--transition-speed) ease;
    color: var(--text);
}

.popup a
{
    color: var(--highlight);
    font-weight: bold;
}

.popup::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bg) transparent transparent transparent;
}

.popup-container:hover .popup
{
    visibility: visible;
    opacity: 100%;
}
